In [57]:
from sqlalchemy import create_engine
from langchain.sql_database import SQLDatabase
import os, json, re
from langchain_experimental.sql import SQLDatabaseChain
from langchain.chat_models import ChatOpenAI
from sqlalchemy.sql import text
import numpy as np
import pandas as pd

openai_api_key = "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"

In [45]:
def remove_sql_clause(sql_str, clause_name):
    """
    Removes the specified clause from the SQL string.

    Parameters:
    sql_str (str): The original SQL string.
    clause_name (str): The name of the clause to remove.

    Returns:
    str: The SQL string with the clause removed.
    """
    # Define a regex pattern to match the clause and any following characters up to the next clause or the end of the string
    pattern = re.compile(r"(?i)\s*{}\s+.*?(?=(?:\s+\w+\s+|$))".format(re.escape(clause_name)))
    
    # Use the pattern to remove the clause from the SQL string
    return pattern.sub("", sql_str)

In [24]:
# Define the path to your SQLite database file
db_name = "activity_1"
database_path = f'database/{db_name}/{db_name}.sqlite'  # Update this with the actual path

# Create the SQLite URI for the database
database_uri = f'sqlite:///{database_path}'

# Create the engine
engine = create_engine(database_uri)

# Now you can use the engine to interact with the database

In [25]:
db = SQLDatabase(engine)

In [26]:
db.get_table_names()

['Activity',
 'Faculty',
 'Faculty_Participates_in',
 'Participates_in',
 'Student']

In [29]:
db.table_info

'\nCREATE TABLE "Activity" (\n\tactid INTEGER, \n\tactivity_name VARCHAR(25), \n\tPRIMARY KEY (actid)\n)\n\n/*\n3 rows from Activity table:\nactid\tactivity_name\n770\tMountain Climbing\n771\tCanoeing\n772\tKayaking\n*/\n\n\nCREATE TABLE "Faculty" (\n\t"FacID" INTEGER, \n\t"Lname" VARCHAR(15), \n\t"Fname" VARCHAR(15), \n\t"Rank" VARCHAR(15), \n\t"Sex" VARCHAR(1), \n\t"Phone" INTEGER, \n\t"Room" VARCHAR(5), \n\t"Building" VARCHAR(13), \n\tPRIMARY KEY ("FacID")\n)\n\n/*\n3 rows from Faculty table:\nFacID\tLname\tFname\tRank\tSex\tPhone\tRoom\tBuilding\n1082\tGiuliano\tMark\tInstructor\tM\t2424\t224\tNEB\n1121\tGoodrich\tMichael\tProfessor\tM\t3593\t219\tNEB\n1148\tMasson\tGerald\tProfessor\tM\t3402\t224B\tNEB\n*/\n\n\nCREATE TABLE "Faculty_Participates_in" (\n\t"FacID" INTEGER, \n\tactid INTEGER, \n\tFOREIGN KEY("FacID") REFERENCES "Faculty" ("FacID"), \n\tFOREIGN KEY(actid) REFERENCES "Activity" (actid)\n)\n\n/*\n3 rows from Faculty_Participates_in table:\nFacID\tactid\n1082\t784\n1082\t785\n1082\t790\n*/\n\n\nCREATE TABLE "Participates_in" (\n\tstuid INTEGER, \n\tactid INTEGER, \n\tFOREIGN KEY(stuid) REFERENCES "Student" ("StuID"), \n\tFOREIGN KEY(actid) REFERENCES "Activity" (actid)\n)\n\n/*\n3 rows from Participates_in table:\nstuid\tactid\n1001\t770\n1001\t771\n1001\t777\n*/\n\n\nCREATE TABLE "Student" (\n\t"StuID" INTEGER, \n\t"LName" VARCHAR(12), \n\t"Fname" VARCHAR(12), \n\t"Age" INTEGER, \n\t"Sex" VARCHAR(1), \n\t"Major" INTEGER, \n\t"Advisor" INTEGER, \n\tcity_code VARCHAR(3), \n\tPRIMARY KEY ("StuID")\n)\n\n/*\n3 rows from Student table:\nStuID\tLName\tFname\tAge\tSex\tMajor\tAdvisor\tcity_code\n1001\tSmith\tLinda\t18\tF\t600\t1121\tBAL\n1002\tKim\tTracy\t19\tF\t600\t7712\tHKG\n1003\tJones\tShiela\t21\tF\t600\t7792\tWAS\n*/'

In [36]:
model = ChatOpenAI(model_name="gpt-3.5-turbo-1106", temperature=0, openai_api_key = openai_api_key, model_kwargs={"seed": 42})

In [38]:
db_chain = SQLDatabaseChain.from_llm(model, 
                          db,
                          use_query_checker=True,
                          return_sql = True,
                          verbose = True
                         )

In [39]:
res = db_chain.run("what is this data about?")

> Entering new SQLDatabaseChain chain...
what is this data about?
SQLQuery:
> Finished chain.

In [48]:
res_ = remove_sql_clause(res, "LIMIT")
res_

'SELECT "Activity".activity_name, "Faculty".Lname, "Faculty".Fname, "Faculty".Rank, "Faculty".Sex, "Student".LName, "Student".Fname, "Student".Age, "Student".Sex\nFROM "Activity"\nJOIN "Faculty_Participates_in" ON "Activity".actid = "Faculty_Participates_in".actid\nJOIN "Faculty" ON "Faculty_Participates_in"."FacID" = "Faculty"."FacID"\nJOIN "Participates_in" ON "Activity".actid = "Participates_in".actid\nJOIN "Student" ON "Participates_in".stuid = "Student"."StuID"'

In [53]:
db.run(res_)

"[('Canasta', 'Giuliano', 'Lisa', 'Instructor', 'F', 'Apap', 18), ('Canasta', 'Giuliano', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Canasta', 'Giuliano', 'Sarah', 'Instructor', 'F', 'Schmidt', 26), ('Chess', 'Giuliano', 'Jandy', 'Instructor', 'F', 'Nelson', 20), ('Chess', 'Giuliano', 'Susan', 'Instructor', 'F', 'Lee', 16), ('Chess', 'Giuliano', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Chess', 'Giuliano', 'Arthur', 'Instructor', 'M', 'Pang', 18), ('Chess', 'Giuliano', 'Eric', 'Instructor', 'M', 'Rugh', 20), ('Chess', 'Giuliano', 'Jun', 'Instructor', 'M', 'Han', 17), ('Crossword Puzzles', 'Giuliano', 'Jandy', 'Instructor', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Giuliano', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Crossword Puzzles', 'Giuliano', 'Arthur', 'Instructor', 'M', 'Pang', 18), ('Crossword Puzzles', 'Giuliano', 'Michael', 'Instructor', 'M', 'Woods', 17), ('Crossword Puzzles', 'Giuliano', 'David', 'Instructor', 'M', 'Shieber', 20), ('Crossword Puzzles', 'Giuliano', 'Jun', 'Instructor', 'M', 'Han', 17), ('Crossword Puzzles', 'Giuliano', 'Lisa', 'Instructor', 'F', 'Cheng', 21), ('Canoeing', 'Goodrich', 'Linda', 'Professor', 'F', 'Smith', 18), ('Canoeing', 'Goodrich', 'Tracy', 'Professor', 'F', 'Kim', 19), ('Canoeing', 'Goodrich', 'Bruce', 'Professor', 'M', 'Wilson', 27), ('Canoeing', 'Goodrich', 'Eric', 'Professor', 'M', 'Epp', 18), ('Soccer', 'Goodrich', 'Linda', 'Professor', 'F', 'Smith', 18), ('Soccer', 'Goodrich', 'Dinesh', 'Professor', 'M', 'Kumar', 20), ('Soccer', 'Goodrich', 'Eric', 'Professor', 'M', 'Tai', 19), ('Soccer', 'Goodrich', 'Charles', 'Professor', 'M', 'Norris', 18), ('Soccer', 'Goodrich', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Soccer', 'Goodrich', 'Stacy', 'Professor', 'F', 'Prater', 18), ('Soccer', 'Goodrich', 'Mark', 'Professor', 'M', 'Goldman', 18), ('Soccer', 'Goodrich', 'Eric', 'Professor', 'M', 'Epp', 18), ('Soccer', 'Goodrich', 'Sarah', 'Professor', 'F', 'Schmidt', 26), ('Mountain Climbing', 'Goodrich', 'Linda', 'Professor', 'F', 'Smith', 18), ('Mountain Climbing', 'Goodrich', 'Paul', 'Professor', 'M', 'Gompers', 26), ('Mountain Climbing', 'Goodrich', 'Charles', 'Professor', 'M', 'Norris', 18), ('Mountain Climbing', 'Goodrich', 'Bruce', 'Professor', 'M', 'Wilson', 27), ('Mountain Climbing', 'Goodrich', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Mountain Climbing', 'Goodrich', 'Mark', 'Professor', 'M', 'Goldman', 18), ('Crossword Puzzles', 'Jones', 'Jandy', 'Instructor', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Jones', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Crossword Puzzles', 'Jones', 'Arthur', 'Instructor', 'M', 'Pang', 18), ('Crossword Puzzles', 'Jones', 'Michael', 'Instructor', 'M', 'Woods', 17), ('Crossword Puzzles', 'Jones', 'David', 'Instructor', 'M', 'Shieber', 20), ('Crossword Puzzles', 'Jones', 'Jun', 'Instructor', 'M', 'Han', 17), ('Crossword Puzzles', 'Jones', 'Lisa', 'Instructor', 'F', 'Cheng', 21), ('Spelunking', 'Jones', 'Andy', 'Instructor', 'M', 'Schultz', 18), ('Spelunking', 'Jones', 'Lisa', 'Instructor', 'F', 'Apap', 18), ('Spelunking', 'Jones', 'Jandy', 'Instructor', 'F', 'Nelson', 20), ('Spelunking', 'Yarowsky', 'Andy', 'AsstProf', 'M', 'Schultz', 18), ('Spelunking', 'Yarowsky', 'Lisa', 'AsstProf', 'F', 'Apap', 18), ('Spelunking', 'Yarowsky', 'Jandy', 'AsstProf', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Yarowsky', 'Jandy', 'AsstProf', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Yarowsky', 'Michael', 'AsstProf', 'M', 'Leighton', 20), ('Crossword Puzzles', 'Yarowsky', 'Arthur', 'AsstProf', 'M', 'Pang', 18), ('Crossword Puzzles', 'Yarowsky', 'Michael', 'AsstProf', 'M', 'Woods', 17), ('Crossword Puzzles', 'Yarowsky', 'David', 'AsstProf', 'M', 'Shieber', 20), ('Crossword Puzzles', 'Yarowsky', 'Jun', 'AsstProf', 'M', 'Han', 17), ('Crossword Puzzles', 'Yarowsky', 'Lisa', 'AsstProf', 'F', 'Cheng', 21), ('Baseball', 'Yarowsky', 'Shiela', 'AsstProf', 'F', 'Jones', 21), ('Baseball', 'Yarowsky', 'Dinesh', 'AsstProf', 'M', 'Kumar', 20), ('Baseball', 'Yarowsky', 'Eric', 'AsstProf', 'M', 'Tai', 19), ('Baseball', 'Yarowsky', 'Charles', 'AsstProf', 'M', 'Norris', 18), ('Baseball', 'Yarowsky', 'Stacy', 'AsstProf', 'F', 'Prater', 18), ('Volleyball', 'Smith', 'Dinesh', 'AssocProf', 'M', 'Kumar', 20), ('Volleyball', 'Smith', 'Eric', 'AssocProf', 'M', 'Tai', 19), ('Volleyball', 'Smith', 'Charles', 'AssocProf', 'M', 'Norris', 18), ('Volleyball', 'Smith', 'Michael', 'AssocProf', 'M', 'Woods', 17), ('Canoeing', 'Smith', 'Linda', 'AssocProf', 'F', 'Smith', 18), ('Canoeing', 'Smith', 'Tracy', 'AssocProf', 'F', 'Kim', 19), ('Canoeing', 'Smith', 'Bruce', 'AssocProf', 'M', 'Wilson', 27), ('Canoeing', 'Smith', 'Eric', 'AssocProf', 'M', 'Epp', 18), ('Canasta', 'Smith', 'Lisa', 'AssocProf', 'F', 'Apap', 18), ('Canasta', 'Smith', 'Michael', 'AssocProf', 'M', 'Leighton', 20), ('Canasta', 'Smith', 'Sarah', 'AssocProf', 'F', 'Schmidt', 26), ('Crossword Puzzles', 'Houlahan', 'Jandy', 'Instructor', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Houlahan', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Crossword Puzzles', 'Houlahan', 'Arthur', 'Instructor', 'M', 'Pang', 18), ('Crossword Puzzles', 'Houlahan', 'Michael', 'Instructor', 'M', 'Woods', 17), ('Crossword Puzzles', 'Houlahan', 'David', 'Instructor', 'M', 'Shieber', 20), ('Crossword Puzzles', 'Houlahan', 'Jun', 'Instructor', 'M', 'Han', 17), ('Crossword Puzzles', 'Houlahan', 'Lisa', 'Instructor', 'F', 'Cheng', 21), ('Chess', 'Houlahan', 'Jandy', 'Instructor', 'F', 'Nelson', 20), ('Chess', 'Houlahan', 'Susan', 'Instructor', 'F', 'Lee', 16), ('Chess', 'Houlahan', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Chess', 'Houlahan', 'Arthur', 'Instructor', 'M', 'Pang', 18), ('Chess', 'Houlahan', 'Eric', 'Instructor', 'M', 'Rugh', 20), ('Chess', 'Houlahan', 'Jun', 'Instructor', 'M', 'Han', 17), ('Chess', 'Beach', 'Jandy', 'Instructor', 'F', 'Nelson', 20), ('Chess', 'Beach', 'Susan', 'Instructor', 'F', 'Lee', 16), ('Chess', 'Beach', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Chess', 'Beach', 'Arthur', 'Instructor', 'M', 'Pang', 18), ('Chess', 'Beach', 'Eric', 'Instructor', 'M', 'Rugh', 20), ('Chess', 'Beach', 'Jun', 'Instructor', 'M', 'Han', 17), ('Kayaking', 'Beach', 'Tracy', 'Instructor', 'F', 'Kim', 19), ('Kayaking', 'Beach', 'Charles', 'Instructor', 'M', 'Norris', 18), ('Kayaking', 'Beach', 'Mark', 'Instructor', 'M', 'Schwartz', 17), ('Kayaking', 'Beach', 'Michael', 'Instructor', 'M', 'Leighton', 20), ('Kayaking', 'Beach', 'Eric', 'Instructor', 'M', 'Epp', 18), ('Chess', 'Taylor', 'Jandy', 'Professor', 'F', 'Nelson', 20), ('Chess', 'Taylor', 'Susan', 'Professor', 'F', 'Lee', 16), ('Chess', 'Taylor', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Chess', 'Taylor', 'Arthur', 'Professor', 'M', 'Pang', 18), ('Chess', 'Taylor', 'Eric', 'Professor', 'M', 'Rugh', 20), ('Chess', 'Taylor', 'Jun', 'Professor', 'M', 'Han', 17), ('Mountain Climbing', 'Taylor', 'Linda', 'Professor', 'F', 'Smith', 18), ('Mountain Climbing', 'Taylor', 'Paul', 'Professor', 'M', 'Gompers', 26), ('Mountain Climbing', 'Taylor', 'Charles', 'Professor', 'M', 'Norris', 18), ('Mountain Climbing', 'Taylor', 'Bruce', 'Professor', 'M', 'Wilson', 27), ('Mountain Climbing', 'Taylor', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Mountain Climbing', 'Taylor', 'Mark', 'Professor', 'M', 'Goldman', 18), ('Extreme Canasta', 'Angelopoulou', 'George', 'Instructor', 'M', 'Andreou', 19), ('Extreme Canasta', 'Angelopoulou', 'David', 'Instructor', 'M', 'Shieber', 20), ('Mountain Climbing', 'Wolff', 'Linda', 'AssocProf', 'F', 'Smith', 18), ('Mountain Climbing', 'Wolff', 'Paul', 'AssocProf', 'M', 'Gompers', 26), ('Mountain Climbing', 'Wolff', 'Charles', 'AssocProf', 'M', 'Norris', 18), ('Mountain Climbing', 'Wolff', 'Bruce', 'AssocProf', 'M', 'Wilson', 27), ('Mountain Climbing', 'Wolff', 'Michael', 'AssocProf', 'M', 'Leighton', 20), ('Mountain Climbing', 'Wolff', 'Mark', 'AssocProf', 'M', 'Goldman', 18), ('Football', 'Wolff', 'Dinesh', 'AssocProf', 'M', 'Kumar', 20), ('Football', 'Wolff', 'Jandy', 'AssocProf', 'F', 'Nelson', 20), ('Football', 'Wolff', 'Derek', 'AssocProf', 'M', 'Lee', 17), ('Football', 'Wolff', 'David', 'AssocProf', 'M', 'Adams', 22), ('Football', 'Wolff', 'Steven', 'AssocProf', 'M', 'Davis', 20), ('Football', 'Wolff', 'Charles', 'AssocProf', 'M', 'Norris', 18), ('Football', 'Wolff', 'Ian', 'AssocProf', 'M', 'Thornton', 22), ('Football', 'Wolff', 'George', 'AssocProf', 'M', 'Andreou', 19), ('Football', 'Wolff', 'Stacy', 'AssocProf', 'F', 'Prater', 18), ('Football', 'Wolff', 'Mark', 'AssocProf', 'M', 'Goldman', 18), ('Football', 'Wolff', 'Lisa', 'AssocProf', 'F', 'Cheng', 21), ('Football', 'Wolff', 'William', 'AssocProf', 'M', 'Simms', 18), ('Football', 'Wolff', 'Eric', 'AssocProf', 'M', 'Epp', 18), ('Football', 'Wolff', 'Sarah', 'AssocProf', 'F', 'Schmidt', 26), ('Football', 'Salzberg', 'Dinesh', 'AssocProf', 'M', 'Kumar', 20), ('Football', 'Salzberg', 'Jandy', 'AssocProf', 'F', 'Nelson', 20), ('Football', 'Salzberg', 'Derek', 'AssocProf', 'M', 'Lee', 17), ('Football', 'Salzberg', 'David', 'AssocProf', 'M', 'Adams', 22), ('Football', 'Salzberg', 'Steven', 'AssocProf', 'M', 'Davis', 20), ('Football', 'Salzberg', 'Charles', 'AssocProf', 'M', 'Norris', 18), ('Football', 'Salzberg', 'Ian', 'AssocProf', 'M', 'Thornton', 22), ('Football', 'Salzberg', 'George', 'AssocProf', 'M', 'Andreou', 19), ('Football', 'Salzberg', 'Stacy', 'AssocProf', 'F', 'Prater', 18), ('Football', 'Salzberg', 'Mark', 'AssocProf', 'M', 'Goldman', 18), ('Football', 'Salzberg', 'Lisa', 'AssocProf', 'F', 'Cheng', 21), ('Football', 'Salzberg', 'William', 'AssocProf', 'M', 'Simms', 18), ('Football', 'Salzberg', 'Eric', 'AssocProf', 'M', 'Epp', 18), ('Football', 'Salzberg', 'Sarah', 'AssocProf', 'F', 'Schmidt', 26), ('Crossword Puzzles', 'Salzberg', 'Jandy', 'AssocProf', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Salzberg', 'Michael', 'AssocProf', 'M', 'Leighton', 20), ('Crossword Puzzles', 'Salzberg', 'Arthur', 'AssocProf', 'M', 'Pang', 18), ('Crossword Puzzles', 'Salzberg', 'Michael', 'AssocProf', 'M', 'Woods', 17), ('Crossword Puzzles', 'Salzberg', 'David', 'AssocProf', 'M', 'Shieber', 20), ('Crossword Puzzles', 'Salzberg', 'Jun', 'AssocProf', 'M', 'Han', 17), ('Crossword Puzzles', 'Salzberg', 'Lisa', 'AssocProf', 'F', 'Cheng', 21), ('Football', 'Amir', 'Dinesh', 'AsstProf', 'M', 'Kumar', 20), ('Football', 'Amir', 'Jandy', 'AsstProf', 'F', 'Nelson', 20), ('Football', 'Amir', 'Derek', 'AsstProf', 'M', 'Lee', 17), ('Football', 'Amir', 'David', 'AsstProf', 'M', 'Adams', 22), ('Football', 'Amir', 'Steven', 'AsstProf', 'M', 'Davis', 20), ('Football', 'Amir', 'Charles', 'AsstProf', 'M', 'Norris', 18), ('Football', 'Amir', 'Ian', 'AsstProf', 'M', 'Thornton', 22), ('Football', 'Amir', 'George', 'AsstProf', 'M', 'Andreou', 19), ('Football', 'Amir', 'Stacy', 'AsstProf', 'F', 'Prater', 18), ('Football', 'Amir', 'Mark', 'AsstProf', 'M', 'Goldman', 18), ('Football', 'Amir', 'Lisa', 'AsstProf', 'F', 'Cheng', 21), ('Football', 'Amir', 'William', 'AsstProf', 'M', 'Simms', 18), ('Football', 'Amir', 'Eric', 'AsstProf', 'M', 'Epp', 18), ('Football', 'Amir', 'Sarah', 'AsstProf', 'F', 'Schmidt', 26), ('Volleyball', 'Amir', 'Dinesh', 'AsstProf', 'M', 'Kumar', 20), ('Volleyball', 'Amir', 'Eric', 'AsstProf', 'M', 'Tai', 19), ('Volleyball', 'Amir', 'Charles', 'AsstProf', 'M', 'Norris', 18), ('Volleyball', 'Amir', 'Michael', 'AsstProf', 'M', 'Woods', 17), ('Canoeing', 'Amir', 'Linda', 'AsstProf', 'F', 'Smith', 18), ('Canoeing', 'Amir', 'Tracy', 'AsstProf', 'F', 'Kim', 19), ('Canoeing', 'Amir', 'Bruce', 'AsstProf', 'M', 'Wilson', 27), ('Canoeing', 'Amir', 'Eric', 'AsstProf', 'M', 'Epp', 18), ('Crossword Puzzles', 'Goldman', 'Jandy', 'Professor', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Goldman', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Crossword Puzzles', 'Goldman', 'Arthur', 'Professor', 'M', 'Pang', 18), ('Crossword Puzzles', 'Goldman', 'Michael', 'Professor', 'M', 'Woods', 17), ('Crossword Puzzles', 'Goldman', 'David', 'Professor', 'M', 'Shieber', 20), ('Crossword Puzzles', 'Goldman', 'Jun', 'Professor', 'M', 'Han', 17), ('Crossword Puzzles', 'Goldman', 'Lisa', 'Professor', 'F', 'Cheng', 21), ('Canasta', 'Goldman', 'Lisa', 'Professor', 'F', 'Apap', 18), ('Canasta', 'Goldman', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Canasta', 'Goldman', 'Sarah', 'Professor', 'F', 'Schmidt', 26), ('Mountain Climbing', 'Burzio', 'Linda', 'Professor', 'F', 'Smith', 18), ('Mountain Climbing', 'Burzio', 'Paul', 'Professor', 'M', 'Gompers', 26), ('Mountain Climbing', 'Burzio', 'Charles', 'Professor', 'M', 'Norris', 18), ('Mountain Climbing', 'Burzio', 'Bruce', 'Professor', 'M', 'Wilson', 27), ('Mountain Climbing', 'Burzio', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Mountain Climbing', 'Burzio', 'Mark', 'Professor', 'M', 'Goldman', 18), ('Canoeing', 'Burzio', 'Linda', 'Professor', 'F', 'Smith', 18), ('Canoeing', 'Burzio', 'Tracy', 'Professor', 'F', 'Kim', 19), ('Canoeing', 'Burzio', 'Bruce', 'Professor', 'M', 'Wilson', 27), ('Canoeing', 'Burzio', 'Eric', 'Professor', 'M', 'Epp', 18), ('Extreme Canasta', 'Frank', 'George', 'AsstProf', 'M', 'Andreou', 19), ('Extreme Canasta', 'Frank', 'David', 'AsstProf', 'M', 'Shieber', 20), ('Extreme Canasta', 'Cheng', 'George', 'AsstProf', 'M', 'Andreou', 19), ('Extreme Canasta', 'Cheng', 'David', 'AsstProf', 'M', 'Shieber', 20), ('Chess', 'Cheng', 'Jandy', 'AsstProf', 'F', 'Nelson', 20), ('Chess', 'Cheng', 'Susan', 'AsstProf', 'F', 'Lee', 16), ('Chess', 'Cheng', 'Michael', 'AsstProf', 'M', 'Leighton', 20), ('Chess', 'Cheng', 'Arthur', 'AsstProf', 'M', 'Pang', 18), ('Chess', 'Cheng', 'Eric', 'AsstProf', 'M', 'Rugh', 20), ('Chess', 'Cheng', 'Jun', 'AsstProf', 'M', 'Han', 17), ('Crossword Puzzles', 'Naiman', 'Jandy', 'Professor', 'F', 'Nelson', 20), ('Crossword Puzzles', 'Naiman', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Crossword Puzzles', 'Naiman', 'Arthur', 'Professor', 'M', 'Pang', 18), ('Crossword Puzzles', 'Naiman', 'Michael', 'Professor', 'M', 'Woods', 17), ('Crossword Puzzles', 'Naiman', 'David', 'Professor', 'M', 'Shieber', 20), ('Crossword Puzzles', 'Naiman', 'Jun', 'Professor', 'M', 'Han', 17), ('Crossword Puzzles', 'Naiman', 'Lisa', 'Professor', 'F', 'Cheng', 21), ('Mountain Climbing', 'Naiman', 'Linda', 'Professor', 'F', 'Smith', 18), ('Mountain Climbing', 'Naiman', 'Paul', 'Professor', 'M', 'Gompers', 26), ('Mountain Climbing', 'Naiman', 'Charles', 'Professor', 'M', 'Norris', 18), ('Mountain Climbing', 'Naiman', 'Bruce', 'Professor', 'M', 'Wilson', 27), ('Mountain Climbing', 'Naiman', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Mountain Climbing', 'Naiman', 'Mark', 'Professor', 'M', 'Goldman', 18), ('Mountain Climbing', 'Naiman', 'Linda', 'Professor', 'F', 'Smith', 18), ('Mountain Climbing', 'Naiman', 'Paul', 'Professor', 'M', 'Gompers', 26), ('Mountain Climbing', 'Naiman', 'Charles', 'Professor', 'M', 'Norris', 18), ('Mountain Climbing', 'Naiman', 'Bruce', 'Professor', 'M', 'Wilson', 27), ('Mountain Climbing', 'Naiman', 'Michael', 'Professor', 'M', 'Leighton', 20), ('Mountain Climbing', 'Naiman', 'Mark', 'Professor', 'M', 'Goldman', 18)]"

In [58]:
# Define your SQL query (example query shown below)
sql_query = text(res_)  # Update with your SQL query

# Execute the query and fetch the results
with engine.connect() as connection:
    result = connection.execute(sql_query)
    print(pd.DataFrame(result).head())
    # # Fetch and print the data
    # for row in result:
    #     print(row)  # Each row is a tuple representing a database record

  activity_name     Lname Fname        Rank Sex     LName    Fname  Age Sex
0       Canasta  Giuliano  Mark  Instructor   M      Apap     Lisa   18   F
1       Canasta  Giuliano  Mark  Instructor   M  Leighton  Michael   20   M
2       Canasta  Giuliano  Mark  Instructor   M   Schmidt    Sarah   26   F
3         Chess  Giuliano  Mark  Instructor   M    Nelson    Jandy   20   F
4         Chess  Giuliano  Mark  Instructor   M       Lee    Susan   16   F